.nav{
    background-color: rgb(54, 53, 53);
    color:aliceblue
}
.nav-text{
    font-size: 40px;
    font-weight:bold;
    padding:  10px 10px 10px 50px;
}
.nav-text1{
    font-size: 20px;
    font-weight:400;
    padding:  20px 10px 10px 10px;
}